name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      # 1. Baixar código
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Dar permissões ao Gradle Wrapper
      - name: Fix Gradle Wrapper permissions
        run: chmod +x gradlew

      # 3. Instalar JDK 17
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      # 4. Instalar Android SDK
      - name: Install Android SDK
        uses: android-actions/setup-android@v2

      # 5. Build APK
      - name: Build APK
        run: ./gradlew clean assembleDebug --stacktrace

      # 6. Encontrar APK gerado
      - name: Find APK path
        run: find $GITHUB_WORKSPACE -name "*.apk"

      # 7. Upload apk
      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug.apk
          path: app/build/outputs/apk/debug/app-debug.apk
